{$DOMAIN} {
	redir / /admin/

	handle_path /admin* {
		reverse_proxy frontend-admin:80
	}

	handle_path /scan* {
		reverse_proxy frontend-scanner:80
	}

	handle_path /api* {
		reverse_proxy backend:8000
	}
}
